{% extends 'layout.html' %}


{% block content %}
{% load crispy_forms_tags %}
<h2>ORDER DETAILS</h2>
{% if order %}
<table class="table table-bordered">
    <thead>
    <th>ORDER ID</th>
    <th>EMAIL ADDRESS</th>
    <th>PHONE NUMBER</th>
    <th>NOTES</th>
    <th>EDIT</th>
    </thead>
    {% for row in order %}
    <tr>
    <td>{{row.order_id }}</td>
        <td>{{row.email }}</td>
        <td>{{row.phone}}</td>
        <td>{{row.notes }}</td>
        <td><a href="/update_order?id={{row.order_id}}" ><input type="submit" value="update" class="btn btn-primary"></a></td>
    </tr>
    {% endfor %}
 </table>
{% endif %}

{% endblock %}